.ai-container {
  display: flex;
  margin-top: 65px;
  padding: 40px;
  align-items: flex-start;
  gap: 40px;
  background-color: #23232f;
  font-family: EYInterstate, "Noto Sans", sans-serif;
  overflow: hidden;
  
height: calc(100vh - 65px);   /*   MUST ADD THIS */
  overflow: hidden;

}


.content-area {
  flex: 1;
  width: 100%;
  height: 100%;   /*   full viewport height */
overflow-y: auto;   /*   ONLY THIS SCROLLS */
scrollbar-width: none;
  min-height: 0;

}
.ai-font{
  color:#facc15;
}


/* SIDEBAR */
.sidebar {
  width: 220px;
  
height: 100%;     /*   stretch full height */
  overflow-y: auto; /*   if filters grow */

  flex-shrink: 0;

}

.filter {
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
  background: #f1f5f9;
}

.filter.active {
  background: #facc15;
}

/* GRID */
.pill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  align-items: stretch;
}

/* CARD PILL */
.big-pill {
  background: #fff;
  padding: 0px 10px;
  border-radius: 16px;
  border: 3px solid #facc15;
  transition: 0.3s;
  box-shadow: 0 0 16px rgba(250, 204, 21, 0.45);
  height: 100%;
  
}

.big-pill:hover {
  transform: translateY(-6px);
  border: 1px solid #facc15;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* HEADER */
.pill-header {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: -12px;
  display: flex;
}
.box-descr {
  margin-left: 28px;   /*   align with title start */

  font-size: 14px;
  color: #6b7280;
  line-height: 1.5;
  flex-grow: 1;
}
.pill-header h4 {
  flex: 1;
  min-width: 0;

  font-size: 16px;
  font-weight: bold;
  font-family: EYInterstate, "Noto Sans", sans-serif;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.icon {
  color: #facc15;
  margin-top: 10px;
}

/* TEXT */
.big-pill p {
  font-size: 16px;
  font-family: EYInterstate, "Noto Sans", sans-serif;
    color: rgb(173, 167, 167);
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 512px;
    margin-top: 4px;

  /*   IMPORTANT (no cutting) */
  white-space: normal;
}
.filter-main-heading {
  font-size: 18px;
  font-weight: 700;

  color: #111827;
  margin-bottom: 10px;
}
.filter-sub-heading {
  font-size: 14px;
  font-weight: 600;

  color: #6b7280;
  margin-bottom: 14px;
}
